<div class="modal" *ngIf="report() && active"></div>
<div class="card" *ngIf="report() && active">
  <span class="exit" (click)="onExit.emit(true)"><i class="fas fa-times"></i></span>
  <div class="nav">
    <span (click)="moveIndex(-1)"><i class="fas fa-angle-left"></i></span>
    <span>{{index+1}} / {{history.length}}</span>
    <span (click)="moveIndex(1)"><i class="fas fa-angle-right"></i></span>
  </div>

  <div>
    <h1 class="disclaimer">{{kills()}} Kill{{kills() > 1 || kills() === 0 ? 's' : ''}}</h1>
    <h1 class="disclaimer">{{hits()}} Hit{{hits() > 1 || hits() === 0 ? 's' : ''}}</h1>
    <h1 class="disclaimer">{{damage()}} Damage</h1>
    <div class="report" *ngFor="let report of reports()">
      <div class="stat" *ngIf="!isAbility(report)">
        <div class="name">
          <span [ngClass]="{'team-one-color': report.caster.team, 'team-two-color': !report.caster.team}">
            {{report.caster.name}}
          </span>
          <i class="fas fa-gavel" *ngIf="report.target"></i>
          <span *ngIf="report.target" [ngClass]="{'team-one-color': report.target.team, 'team-two-color': !report.target.team}">
            {{report.target.name}}
          </span>
        </div>
        <div class="roll" [ngStyle]="{'color': report.hit ? 'green' : 'red'}">{{report.roll}}</div>
        <div>{{report.damage}} Damage</div>
        <div>{{report.enemyKilled?'Kill!':' '}}</div>
        <div>{{report.type}}</div>
      </div>
      <div class="ability-stat" *ngIf="isAbility(report)">
        <div>
          <span [ngClass]="{'team-one-color': report.caster.team, 'team-two-color': !report.caster.team}">
            {{report.caster.name}}
          </span>
          <i class="fas fa-gavel" *ngIf="report.target"></i>
          <span *ngIf="report.target" [ngClass]="{'team-one-color': report.target.team, 'team-two-color': !report.target.team}">
            {{report.target.name}}
          </span>
        </div>
        <div>{{report.ability?.name}}</div>
        <div>{{report.desc}}</div>
        <div>{{report.type}}</div>
      </div>
    </div>
  </div>
</div>
