<section class="header">
  <h1>Crypto-Fiends</h1>
</section>
<section class="marketplace">

</section>
<section class="game">

</section>
<section class="about">
  <h2>What is Crypto-Fiends?</h2>
  <p>Crypto-Fiends is a game of chance that can make you money.
    There are 900+ unique stat combinations for each unit in the game, and only 1 copy of any unit.
    Be an owner of a completely unique card!</p>
  <h2>How do you play Crypto-Fiends?</h2>
  <p>You need 4 Crypto-Fiends to play.
   Each Crypto-Fiend in the game has a fiend-specific ability.
   Crypto-Fiends come in 4 different sizes.
   Each Crypto-Fiend has health, damage, accuracy, and an attribute that boosts a stat.
   The first team of 4 to defeat the enemy team wins.
   Higher level and rarity fiends are stronger.
   Win matches, collect tickets to buy exclusive fiends.
   Collect and sell your fiends for real money.</p>
</section>
<section class="contact">
  <h3>Email: brayanbyrdsong@gmail.com</h3>
</section>
