/* You can add global styles to this file, and also import other style files */

body{
  font-family: sans-serif;
  background-color: #c1acac;
}

.header{
  text-align: center;
  background-color: #c3c3c3;
  margin: -10px -8px 5px -8px;
  padding: 6px 0;
  color: white;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
  transition: .6s;
}

.team-one{
  background-color: #aca2d8;
}

.team-two{
  background-color: #d8a2a2;
}

.team-one-color{
  color: #aca2d8;
}

.team-two-color{
  color: #d8a2a2;
}
