<div class="card" [ngClass]="getState()" *ngIf="fiend.unit()">
  <span class="exit" (click)="menu = true"><i class="fas fa-window-maximize"></i></span>
  <span class="attack" (click)="setAttackMode()" *ngIf="turn"><i class="fas fa-gavel"></i></span>
  <div class="unit" *ngFor="let unit of fiend.squad">
    <div class="inner-unit" [ngClass]="getSize(unit)"></div>
    <div class="rarity" [ngClass]="getRarity(unit)"></div>
    <div class="health-bar"><div class="health" [ngStyle]="getHealth(unit, fiend)"></div></div>
  </div>
  <div class="menu" *ngIf="menu">
    <div class="rarity-label" [ngClass]="getRarity(fiend.unit())">
      <h1>{{fiend.unit().name}}</h1>
      <span class="exit" (click)="menu = false"><i class="fas fa-window-close"></i></span>
      <span class="level">{{fiend.unit().level}}</span>
    </div>
    <div class="unit-select">
      <div
        *ngFor="let unit of fiend.squad; let i = index"
        [ngClass]="{'team-one': unit.team, 'team-two': !unit.team, 'selected': this.selectedUnit === i}"
        (click)="selectedUnit = i"
      ></div>
    </div>
    <div>Health: {{getFiend().health}}</div>
    <div>Damage: {{getFiend().damage}}</div>
    <div>Accuracy: {{getFiend().accuracy}}</div>
    <div>Ability: {{getFiend().ability ? getFiend().ability.name : 'None'}}</div>
  </div>
</div>
<div class="name" *ngIf="fiend.unit()">{{fiend.unit().name}}</div>
