.selected{
  color: red;
  cursor: default;
}

.card{
  width: 140px;
  height: 140px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer;
  position: relative;
}

.card, .card *{
  user-select: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

.card.attack{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.3);
  background-color: #ffa0a0 !important;
}

.outer-unit {
  border-radius: 100%;
  border: 2px solid rgba(0,0,0,0.3);
  cursor: pointer;
  margin: 2px 2px 0;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
  display: inline-block;
}

.health, .health-bar{
  height: 4px;
}

.health{
  background-color: green;
  max-width: 100%;
}

.health-bar{
  background: darkgrey;
  width: 28px;
  margin: 0 auto;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}

.unit{
  display: inline-block;
}

.rarity{
  border: 2px solid;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  transform: rotateX(50deg);
  margin: -22px auto 0;
}

.inner-unit{
  background-size: 120% 120%;
  background-position: center;
  height: 30px;
  z-index: 2;
  position: relative;
}

.size1{
  margin-top: 5px;
  width: 100px;
  height: 100px;
}

.size2{
  margin-top: 20px;
  width: 58px;
  height: 58px;
}

.size3{
  width: 54px;
  height: 54px;
}

.size4{
  width: 48px;
  height: 48px;
}

.name{
  width: 140px;
  text-align: center;
  padding-left: 10px;
  display: inline-block;
}

.rarity.common{
  border-color: grey;
}

.rarity.uncommon{
  border-color: brown;
  background-color: rgba(165, 42, 42, .05);
}

.rarity.rare{
  border-color: royalblue;
  background-color: rgba(65, 105, 225, .1);
}

.rarity.epic{
  border-color: mediumpurple;
  background-color: rgba(147, 112, 219, .15);
}

.rarity.legendary{
  border-color: darkorange;
  background-color: rgba(255, 140, 0, 0.2);
}

.card.attack .outer-unit {
  box-shadow: 0 13px 15px 0 rgba(0,0,0,0.3);
}

.menu{
  position: absolute;
  top: -2px;
  left: -2px;
  width: 140px;
  height: 165px;
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  animation: menu-open .3s;
  z-index: 3;
}

.menu .attack{
  position: absolute;
  bottom: 5px;
  left: calc(50% - 50px);
  width: 100px;
  height: 32px;
  border: 2px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  font-size: 16px;
}

.menu h1{
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
}

.menu .unit-label{
  font-size: 15px;
}

.card .exit{
  position: absolute;
  right: 0;
  top: 0;
}

.menu .exit{
  position: absolute;
  right: 3px;
  top: 2px;
}

.level{
  position: absolute;
  left: 7px;
  top: 0;
  font-weight: bold;
  font-size: 18px;
}

.rarity-label{
  color: white;
}

.menu .common{
  background-color: grey;
}

.menu .uncommon{
  background-color: brown;
}

.menu .rare{
  background-color: royalblue;
}

.menu .epic{
  background-color: mediumpurple;
}

.menu .legendary{
  background-color: darkorange;
}

.card > .attack{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes menu-open {
  0%{
    top: 10px;
    left: 10px;
    width: 120px;
    height: 125px;
    border-radius: 100%;
  }
  80%{
    top: -12px;
    left: -12px;
    width: 160px;
    height: 185px;
    border-radius: 0;
  }
  100%{
    top: -2px;
    left: -2px;
    width: 140px;
    height: 165px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 3px, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 1px, 0);
  }
}


.unit-select{
  display: flex;
  justify-content: space-evenly;
}

.unit-select div{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  transform: rotateZ(45deg);
  margin: 6px 0;
  transition: .3s;
}

.unit-select div.selected{
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

